.body {
    background-image: url("https://i.ibb.co/nfSq5dY/background.jpg");

    font-family: 'Roboto Mono', monospace;
    font-family: 'Spartan', sans-serif;
}

.maranta {
    background-image: url("https://i.ibb.co/bdc80SC/maranta.jpg");

}