.main {
    background-color: #f0fff09e;
    max-width: 900px;
    margin: auto;
    margin-top: 20px;

    padding: 10px;
    display: flex;
    flex-direction: column;
}

.main__article {
    background-color: honeydew;
    max-width: 700px;
    padding: 15px;
    margin-top: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main__button {
    background-color: rgba(5, 201, 5, 0.342);
    border-style: ridge;
    border-radius: 20px;
    border-color: black;
    outline: black;
    display: flex;
    flex-direction: row-reverse;
    align-self: end;
    padding: 5px;

}

.main__button:hover {
    background-color: greenyellow;
    cursor: pointer;
}


.main__article--img {
    max-width: 250px;
    border-radius: 20%;
    padding: 10px;
    margin: auto;


    display: flex;
}

.main__article--img:hover {
    outline-style: ridge;
    outline-width: 5px;
    outline-color: yellowgreen;
}