.navigation {
    background-color: rgb(22 86 18 / 91%);
    max-width: 1000px;
    min-height: 78px;
    text-align: center;
    margin-top: 20px;
    padding: 3px;

    font-weight: 500;
}

.navigation__list {
    list-style-type: " ";
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation__listItem {
    margin: auto;
    cursor: pointer;
    text-decoration: none;
}


.navigation__listItem:hover {
    color: yellowgreen;
}

.navigation__link {
    text-decoration: none;
}