html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

a:-webkit-any-link:hover {
    color: greenyellow;
}

a:-webkit-any-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}